<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Home | Adofan3Cinema
    </title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com">
      
    </script>
    <!-- Alpine.js CDN -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
      
    </script>
    <script src="https://unpkg.com/lucide@latest" defer>
      
    </script>
  </head>

  <body class="bg-gray-900 text-white">
    @include('partials/navbar')
    <div id="welcome" class="scroll-mt-24">
      @include('partials/welcome')
    </div>
    <div id="studio" class="scroll-mt-24">
      @include('partials/studio')
    </div>
    <div id="jadwal-film" class="scroll-mt-24">
      @include('partials/film-schedules')
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10">
      document.addEventListener("DOMContentLoaded", () => {
        if (typeof lucide !== "undefined") lucide.createIcons();
      });
    </script>
  </body>
</html>
